@model IStudent
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Saved</title>
</head>
<body>
<div>
     @Model.Name @Model.Surname is saved succesfully.
</div>
</body>
</html>
